{
  "semi": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 75,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  
  
  "renderWhiteSpace": "empty",
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}
