@import '../../styles/base/vars';

// rules
.gw-rules {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 1rem;
  justify-content: center;
  text-align: left;
  justify-content: center;
  align-items: flex-end;
  margin: 15rem auto 0;
  p {
    font-size: 1.25rem;
    color: $black;
    margin: 3rem 0;
    span {
      color: $red;
    }
  }
}
