@import '../../styles/base/vars';

// rules
.gw-rules {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 1rem;
  text-align: left;
  justify-content: center;
  align-items: flex-end;
  margin: 15rem auto 0;

  @media screen and (max-width: 850px) {
    margin: 0 auto 0;
  }
  p {
    font-size: 1.1rem;
    color: $black;
    margin: 3rem 0;
   
    @media screen and (max-width: 850px) {
      font-size: 1rem;
    }

    span {
      color: $red;
    }

    span.gw-ps {
      background: $jumbg;
      color: $purple-black;
      font-size: 1rem;
      padding: 1rem;
      border-radius: 4px;
    }
  }
}
