@import '../../styles/base/vars';

form {
  margin: 3rem 0 7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  @media screen and (max-width: 850px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    justify-content: space-around;
    margin: 0;
  }
}

.gw-input {
  border: 2px solid $purple-table;
  border-radius: 4px;
  font-size: 1.35rem;
  background-color: white;
  background-image: url('../../images/searchicon.png');
  background-position: 15px 20px;
  background-repeat: no-repeat;
  padding: 17px 60px 17px 60px;
  margin-right: 1.75rem;
  width: 505px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  transition: width 0.4s ease-in-out;
  @media screen and (max-width: 850px) {
    width: 100%;
    padding: 10px 16px;
    margin: 0;
    flex: 0 1 auto;
    background-position: 15px 15px;
  }
}

.gw-button {
  border: 2px solid $purple-dark;
  padding: 10px 16px;
  color: white;
  background: $purple-table;
  box-shadow: $min-boxshadow;
  border-radius: 4px;
  font-size: 1.35rem !important;
  @media screen and (max-width: 850px) {
    width: 100%;
    flex: 0 1 auto;
    font-size: 1.15rem !important;
  }

  &:hover {
    background-color: $purple-dark;
  }
}
