@import '../../styles/base/vars';

.gw-input {
  border: 2px solid $purple-table;
  border-radius: 4px;
  font-size: 1.5rem;
  background-color: white;
  background-image: url('../../images/searchicon.png');
  background-position: 15px 20px;
  background-repeat: no-repeat;
  padding: 17px 100px 17px 60px;
  margin-right: 1.75rem;
  width: 520px;
  box-shadow: $min-boxshadow;
  transition: width 0.4s ease-in-out;
}

.gw-button {
  border: 2px solid $purple-dark;
  padding: 10px 16px;
  color: white;
  background: $purple-table;
  box-shadow: $min-boxshadow;
  border-radius: 4px;
  font-size: 1.5rem !important;
  &:hover {
    background-color: $purple-dark;
  }
}

form {
  margin: 3rem 0 7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
